$roboto: "Roboto", sans-serif;
$sectionhdrfont: "Pacifico", cursive;
$sectiontextfont: "Lobster", cursive;
$maincolor: #ebecf0;
$fontcolor: #1d1d1f;
$secondary-bg: #f5f5f7;
$sectionsecondfont: "Pushster", cursive;
